<% include ../partials/start%>

<div class="row">
    <!-- form input mask -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">
                <br>
                <form method="post" action="product_add?_csrf=<%= csrfToken%>" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate=""       encType="multipart/form-data">

                    <input id="sabtkind" name="sabtkind" class="hidden"          <% if (typeof sherkat !== 'undefined'){%> value="update" <% } else {%> value="register" <%}%>
                    >        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productname">نام محصول
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="productname" value="<% if (typeof sherkat !== 'undefined'){%><%=sherkat.productname%><%}%>"  name="productname" required="required" class="form-control col-md-7 col-xs-12" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">قیمت محصول
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="productcost" name="productcost"  value="<% if (typeof sherkat !== 'undefined'){%><%=sherkat.productcost%><%}%>" type="number" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="control-label col-md-3 col-sm-3 col-xs-12"  for="productcount">موجودی
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="productcount" name="productcount"  value="<% if (typeof sherkat !== 'undefined'){%><%if (typeof sherkat.productcount !== 'undefined'){%><%=sherkat.productcount%><%}}%>" required="required" type="number" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >دسته بندی
                            <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="js-example-basic-single form-control col-md-7 col-xs-12" name="catname" id="catname" required="required">
                                <%cats.forEach(function (cat){%>
                                <option><%=cat.catname%></option>
                                <%})%>
                            </select>

                        </div>

                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">تصویر محصول</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="file" id="product_pic" name="product_pic"
                                   accept=".jpg, .jpeg, .png">
                        </div>
                    </div>
<br/>
                    <h2> توضیحات محصول
                    </h2>
                    <div id="alerts"></div>

                    <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" id="textarea-font" title="فونت"><i class="fa fa-font"></i><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="اندازه فونت"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a data-edit="fontSize 5">
                                        <p style="font-size:17px">بزرگ</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 3">
                                        <p style="font-size:14px">معمولی</p>
                                    </a>
                                </li>
                                <li>
                                    <a data-edit="fontSize 1">
                                        <p style="font-size:11px">کوچک</p>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="bold" title="درشت (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn" data-edit="italic" title="ایتالیک (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                            <a class="btn" data-edit="strikethrough" title="خط خورده"><i class="fa fa-strikethrough"></i></a>
                            <a class="btn" data-edit="underline" title="زیرخط (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="insertunorderedlist" title="لیست دایره ای"><i class="fa fa-list-ul"></i></a>
                            <a class="btn" data-edit="insertorderedlist" title="لیست عددی"><i class="fa fa-list-ol"></i></a>
                            <a class="btn" data-edit="outdent" title="کاهش دندانه (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                            <a class="btn" data-edit="indent" title="دنداره (Tab)"><i class="fa fa-indent"></i></a>
                        </div>

                        <div class="btn-group">

                            <a class="btn" data-edit="justifyright" title="تراز راست (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                            <a class="btn" data-edit="justifycenter" title="وسط (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                            <a class="btn" data-edit="justifyleft" title="تراز چپ (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                            <a class="btn" data-edit="justifyfull" title="جاستیفای (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="ابرلینک"><i class="fa fa-link"></i></a>
                            <div class="dropdown-menu input-append">
                                <input class="span2" placeholder="URL" data-edit="createLink" type="text">
                                <button class="btn" type="button">افزودن</button>
                            </div>
                            <a class="btn" data-edit="unlink" title="حذف ابر لینک"><i class="fa fa-cut"></i></a>
                        </div>

                        <div class="btn-group">
                            <a class="btn" title="افزودن تصویر (یا فقط بکشید و رها کنید)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                            <input data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" type="file">
                            <input name="_id" id="_id" hidden value="<% if (typeof sherkat !== 'undefined'){%><%=sherkat._id%><%}%>">
                        </div>

                        <div class="btn-group">
                            <a class="btn" data-edit="undo" title="باطل کردن (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                            <a class="btn" data-edit="redo" title="بازگردانی (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                        </div>
                    </div>

                    <div id="editor" class="editor-wrapper placeholderText" contenteditable="true"></div>

                    <input name="productdetail" value="<% if (typeof sherkat !== 'undefined'){%><%=sherkat.productdetail%><%}%>"  id="productdetail" style="display:none;">
                    <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <a href="product_list" class="btn btn-primary">انصراف</a>
                                <button type="submit" id="save" class="btn btn-success">ثبت</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /form input mask -->

    <!-- form color picker -->

</div>
</div>
</div>
</div>


</div>
<% include ../partials/footer%>

</div>
<script src="../vendors/dropzone/dist/min/dropzone.min.js"></script>

<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>

<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="../vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="../vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
<script src="../vendors/parsleyjs/dist/i18n/fa.js"></script>
<!-- Autosize -->
<script src="../vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="../vendors/starrr/dist/starrr.js"></script>
<link href="../css/select2.min.css" rel="stylesheet">

<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
        $('.js-example-basic').select2({  tags: true});
        console.log("12");
        <%if(typeof sherkat !=='undefined'){%>
        var shortdescrip = "<%=sherkat.productdetail%>";
        var findInit = '&lt;';
        var reInit = new RegExp(findInit,'g');
        shortdescrip = shortdescrip.replace(reInit, '<');
        var findOut = '&gt;';
        var reOut = new RegExp(findOut, 'g');
        shortdescrip = shortdescrip.replace(reInit, '<').replace(reOut,'>');
        $('#editor').html(shortdescrip);
        $('#productdetail').val(shortdescrip);

        <%}%>
    });
</script>
<script>

    $('#save').click(function(){
        $('#productdetail').val($('#editor').html());
        console.log( $('#productdetail').val());
    });
</script>
<!-- Custom Theme Scripts -->
<script src="../js/custom.min.js"></script>
<!-- /bootstrap-daterangepicker -->
<script src="../js/persianumber.min.js"></script>
</body>
</html>
