<% include ./partials/start%>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <%if (typeof message  !== 'undefined' ){%>
            <div class="alert <%=message.kind%> fade in">
                <strong>  <%=message.content%></strong>
            </div>
        <%}%>
<div class="x_content">
    <br>
    <%if (typeof sherkat!=='undefined'){%>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="image view view-first">
            <img style="width: 100%; display: block;" src="../images/category_pic/<%=sherkat.category_pic%>" alt="image"/>
        </div>
</div>
    <%}%>
    <div class="col-md-9 col-sm-9 col-xs-12">

    <form method="post" action="category_add?_csrf=<%= csrfToken%>" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate=""       encType="multipart/form-data">
        <input id="sabtkind" name="sabtkind" class="hidden"          <% if (typeof sherkat !== 'undefined'){%> value="update" <% } else {%> value="register" <%}%>
        >
        <input id="_id" name="_id" class="hidden"          <% if (typeof sherkat !== 'undefined'){%> value="<%=sherkat._id%>" <% } else {%> value="" <%}%>
        >
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"for="catname"> نام دسته بندی
                 <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="catname" name="catname"  value="<% if (typeof sherkat !== 'undefined'){%><%=sherkat.catname%><%}%>"   required="required" class="form-control col-md-7 col-xs-12" type="text">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">تصویر دسته بندی</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="file" id="category_pic.ejs" name="category_pic"
                               accept=".jpg, .jpeg, .png">
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-primary">انصراف</button>
                <button type="submit" class="btn btn-success">ارسال</button>
            </div>
        </div>

    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
<% include ./partials/footer%>

</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>

<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- bootstrap-wysiwyg -->
<script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="../vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="../vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Switchery -->
<script src="../vendors/switchery/dist/switchery.min.js"></script>
<!-- Select2 -->
<script src="../vendors/select2/dist/js/select2.full.min.js"></script>
<!-- Parsley -->
<script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
<script src="../vendors/parsleyjs/dist/i18n/fa.js"></script>
<!-- Autosize -->
<script src="../vendors/autosize/dist/autosize.min.js"></script>
<!-- jQuery autocomplete -->
<script src="../vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
<!-- starrr -->
<script src="../vendors/starrr/dist/starrr.js"></script>

<!-- Custom Theme Scripts -->
<script src="../js/custom.js"></script>
<script src="../js/persian-datepicker.js"></script>
<script src="../js/persianumber.js"></script>
<script src="../js/persian-date.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".normal-example").pDatepicker({
            "inline": false,
            "format": "L",
            "viewMode": "year",
            "initialValue": true,
            "minDate": null,
            "maxDate": null,
            "autoClose": true,
            "position": "auto",
            "altFormat": "|",
            "altField": "#altfieldExample",
            "onlyTimePicker": false,
            "onlySelectOnDate": true,
            "calendarType": "persian",
            "inputDelay": "1200",
            "observer": false,
            "calendar": {
                "persian": {
                    "locale": "fa",
                    "showHint": false,
                    "leapYearMode": "astronomical"
                },
                "gregorian": {
                    "locale": "en",
                    "showHint": false
                }
            },
            "navigator": {
                "enabled": true,
                "scroll": {
                    "enabled": true
                },
                "text": {
                    "btnNextText": "<",
                    "btnPrevText": ">"
                }
            },
            "toolbox": {
                "enabled": true,
                "calendarSwitch": {
                    "enabled": false,
                    "format": "MMMM"
                },
                "todayButton": {
                    "enabled": false,
                    "text": {
                        "fa": "امروز",
                        "en": "Today"
                    }
                },
                "submitButton": {
                    "enabled": true,
                    "text": {
                        "fa": "تایید",
                        "en": "Submit"
                    }
                },
                "text": {
                    "btnToday": "امروز"
                }
            },
            "timePicker": {
                "enabled": false,
                "step": 1,
                "hour": {
                    "enabled": false,
                    "step": null
                },
                "minute": {
                    "enabled": false,
                    "step": null
                },
                "second": {
                    "enabled": false,
                    "step": null
                },
                "meridian": {
                    "enabled": false
                }
            },
            "dayPicker": {
                "enabled": true,
                "titleFormat": "YYYY MMMM"
            },
            "monthPicker": {
                "enabled": true,
                "titleFormat": "YYYY"
            },
            "yearPicker": {
                "enabled": true,
                "titleFormat": "YYYY"
            },
            "responsive": true
        });
    });
</script>
</body>
</html>
