<% include ./partials/start%>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">

                <form method="post" action="/add_contract" class="form-horizontal form-label-left">

                <!-- Tabs -->
                <div id="wizard_verticle" class="form_wizard wizard_verticle">
                    <ul class="list-unstyled wizard_steps">
                        <li>
                            <a href="#step-11">
                                <span class="step_no">1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-22">
                                <span class="step_no">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-33">
                                <span class="step_no">3</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-44">
                                <span class="step_no">4</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-55">
                                <span class="step_no">5</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-66">
                                <span class="step_no">6</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-77">
                                <span class="step_no">7</span>
                            </a>
                        </li>
                        <li>
                            <a href="#step-88">
                                <span class="step_no">8</span>
                            </a>
                        </li>
                    </ul>

                    <div id="step-11">

                            <h2 class="StepTitle">مشخصات قرارداد</h2>
                            <div class="form-group col-md-6 col-sm-6">
                                <label class="control-label col-md-3 col-sm-3" for="contractdate">تاریخ قرارداد  <span
                                        class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input name="contractdate" id="contractdate" <%if(typeof contract!=='undefined'){%>value="<%=contract.contractdate%>"<%}%> class="normal-example form-control col-md-7 col-xs-12"    >
                                    <input name="requestid" hidden <%if(typeof contract!=='undefined'){%>value="<%=contract.requestid%>"<%}%>>
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-6">
                                <label for="projectname" class="control-label col-md-3 col-sm-3">نام پروژه</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="projectname" <%if(typeof contract!=='undefined'){%>value="<%=contract.projectname%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="projectname">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="codemeli" class="control-label col-md-3 col-sm-3">کدملی (شناسه ملی)</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="codemeli"  <%if(typeof contract!=='undefined'){%>value="<%=contract.codemeli%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="codemeli">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="requester" class="control-label col-md-3 col-sm-3">نام و نام خانوادگی کارفرما</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="requester"  <%if(typeof contract!=='undefined'){%>readonly value="<%=contract.requester%>"<%}%> class="form-control col-md-7 col-xs-12" type="text" {
                                           name="requester">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="shenasname" class="control-label col-md-3 col-sm-3">شماره شناسنامه</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="shenasname"  <%if(typeof contract!=='undefined'){%>value="<%=contract.shenasname%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="shenasname">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="fathername" class="control-label col-md-3 col-sm-3">نام پدر </label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="fathername"  <%if(typeof contract!=='undefined'){%>value="<%=contract.fathername%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="fathername">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="birthdate" class="control-label col-md-3 col-sm-3">تاریخ تولد</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="birthdate"  <%if(typeof contract!=='undefined'){%>value="<%=contract.birthdate%>"<%}%> class="normal-example date-picker form-control col-md-7 col-xs-12"
                                           name="birthdate">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="tawalodcity" class="control-label col-md-3 col-sm-3">محل تولد</label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="tawalodcity"  <%if(typeof contract!=='undefined'){%>value="<%=contract.tawalodcity%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="tawalodcity">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="codeposti" class="control-label col-md-3 col-sm-3">کد پستی </label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="codeposti"  <%if(typeof contract!=='undefined'){%>value="<%=contract.codeposti%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="codeposti">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="phone" class="control-label col-md-3 col-sm-3">شماره همراه </label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="phone"  <%if(typeof contract!=='undefined'){%>readonly value="<%=contract.phone%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="phone">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="phone2" class="control-label col-md-3 col-sm-3">تلفن ۲ </label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="phone2"  <%if(typeof contract!=='undefined'){%>value="<%=contract.phone2%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="phone2">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-6">
                                <label for="buildingmanager" class="control-label col-md-3 col-sm-3">مسئول ساختمان </label>
                                <div class="col-md-6 col-sm-6">
                                    <input id="buildingmanager"  <%if(typeof contract!=='undefined'){%>value="<%=contract.buildingmanager%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                           name="buildingmanager">
                                </div>
                            </div>
                            <input id="sabtkind" name="sabtkind"   class="hidden"          <% if (typeof contract !== 'undefined'){%> value="<%=contract.savetype%>" <%}%>
                            >        <input type="hidden" name="_csrf" value="<%= csrfToken %>">


                    </div>
                    <div id="step-22">
                        <h2 class="StepTitle">آدرس</h2>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="ostan" class="control-label col-md-3 col-sm-3">استان</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="ostan" readonly <%if(typeof contract!=='undefined'){%>value="<%=contract.ostan%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                       name="ostan">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="city" class="control-label col-md-3 col-sm-3">شهر</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="city" readonly <%if(typeof contract!=='undefined'){%>value="<%=contract.city%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                       name="city">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="zone" class="control-label col-md-3 col-sm-3">منطقه </label>
                            <div class="col-md-6 col-sm-6">
                                <input id="zone" readonly <%if(typeof contract!=='undefined'){%>value="<%=contract.zone%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                       name="zone">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="tedadvahed" class="control-label col-md-3 col-sm-3">تعداد واحد  </label>
                            <div class="col-md-6 col-sm-6">
                                <input id="tedadvahed"  <%if(typeof contract!=='undefined'){%>value="<%=contract.tedadvahed%>"<%}%>  class="form-control col-md-7 col-xs-12" type="text"
                                       name="tedadvahed">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="address" class="control-label col-md-3 col-sm-3">توضیحات آدرس </label>
                            <div class="col-md-6 col-sm-6">
                                <input id="address" readonly <%if(typeof contract!=='undefined'){%>value="<%=contract.address%>"<%}%> class="form-control col-md-7 col-xs-12" type="text" name="address">
                                <input name="addressid" hidden <%if(typeof contract!=='undefined'){%>value="<%=contract.addressid%>"<%}%>>
                                <input name="latLng" hidden <%if(typeof contract!=='undefined'){%>value="<%=contract.latlng%>"<%}%>>
                                <%if(typeof contract!=='undefined'){%><%if(typeof contract.contractid!=='undefined'){%>
                                <input name="contractid" hidden value="<%=contract.contractid%>">
                                <%}}%>
                            </div>
                        </div>

                    </div>
                    <div id="step-33">
                        <h2 class="StepTitle">مشخصات آسانسور</h2>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="asansorcount" class="control-label col-md-3 col-sm-3">تعداد آسانسور</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="asansorcount"  <%if(typeof contract!=='undefined'){%>value="<%=contract.asansorcount%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                       name="asansorcount">
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="sakhtemankind" class="control-label col-md-3 col-sm-3">کاربری ساختمان</label>
                            <div class="col-md-6 col-sm-6">
                                <select id="sakhtemankind" class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="sakhtemankind">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <p><b>گروه 1</b> مسکونی <b>گروه 2</b> اداری تا 10 واحد <b>گروه 3 </b>   اداری 10 واحد به بالا، مجتمع تجاری، بانکها، ساختمان پزشکان، خوابگاهها، مسافرخانه ها، انبارها، مدارس و دانشگاهها، مراکز ورزشی و تفریحی، تالار پذیرایی، رستورانها، آسانسور مسافربر پارکینگ <b> گروه 4 </b> بیمارستانها، درمانگاهها، کلینیکها، مراکز درمانی، آزمایشگاهها، رادیولوژی، هتلها، آشپزخانه صنعتی <b> گروه 5 </b> وزارت خانه ها، سازمانهای دولتی، دادسراها و دادگاهها، پادگان و مراکز نظامی، کلانتریها، شرهداریها، فرودگاهها، مترو و مساجد
                        </p>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="asansorkind" class="control-label col-md-3 col-sm-3">نوع آسانسور</label>
                            <div class="col-md-6 col-sm-6">
                                <select id="asansorkind" class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="asansorkind">
                                    <option>گیربکس</option>
                                    <option>گیرلس</option>
                                    <option>هیدرولیک</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="stopcount" class="control-label col-md-3 col-sm-3">تعداد توقف</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="stopcount"  <%if(typeof contract!=='undefined'){%>value="<%=contract.stopcount%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                       name="stopcount">
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="asansorzarfit" class="control-label col-md-3 col-sm-3">ظرفیت </label>
                            <div class="col-md-6 col-sm-6">
                                <input id="asansorzarfit"  <%if(typeof contract!=='undefined'){%>value="<%=contract.asansorzarfit%>"<%}%> class="form-control col-md-7 col-xs-12" type="text"
                                       name="asansorzarfit">
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="asansorfloordoorkind" class="control-label col-md-3 col-sm-3">نوع درب طبقات</label>
                            <div class="col-md-6 col-sm-6">
                                <select id="asansorfloordoorkind" class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="asansorfloordoorkind">
                                    <option>اتومات</option>
                                    <option>لولایی</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="asansorcabindoorkind" class="control-label col-md-3 col-sm-3">نوع درب کابین</label>
                            <div class="col-md-6 col-sm-6">
                                <select id="asansorcabindoorkind" class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="asansorcabindoorkind">
                                    <option>تلسکوپی</option>
                                    <option>اتوبوسی</option>
                                    <option>سانترال</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="gearboxengine" class="control-label col-md-3 col-sm-3">موتور گیربکس </label>
                            <div class="col-md-6 col-sm-6">
                                <select id="gearboxengine" class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="gearboxengine">
                                    <option>ساسی</option>
                                    <option>شیندلر</option>
                                    <option>مونتانری</option>
                                    <option>فیا</option>
                                    <option>الکمپ</option>
                                    <option>بهران</option>
                                    <option>جم</option>
                                    <option>ایتال</option>
                                    <option>آکیش</option>
                                    <option>سایر</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group col-md-6 col-sm-6">
                            <label for="tablofarman" class="control-label col-md-3 col-sm-3">تابلو فرمان</label>
                            <div class="col-md-6 col-sm-6">
                                <select id="tablofarman" class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="tablofarman">
                                    <option>آریان</option>
                                    <option>پارکنترل</option>
                                    <option>آرمان فراز</option>
                                    <option>کیهان کنترل</option>
                                    <option>پایا</option>
                                    <option>سایر</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="breaksystem" class="control-label col-md-3 col-sm-3">سیستم ترمز </label>
                            <div class="col-md-6 col-sm-6">
                                <select id="breaksystem" class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="breaksystem">
                                    <option>تدریجی</option>
                                    <option>آنی</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="salenasb" class="control-label col-md-3 col-sm-3"> سال نصب</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="salenasb"  <%if(typeof contract!=='undefined'){%>value="<%=contract.salenasb%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="salenasb">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="standardvaziat" class="control-label col-md-3 col-sm-3">وضعیت استاندارد</label>
                            <div class="col-md-6 col-sm-6">
                                <select id="standardvaziat" class="form-control col-md-7 col-xs-12 single" type="text"
                                        name="standardvaziat">
                                    <option>دارد</option>
                                    <option>ندارد</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="standarddate" class="control-label col-md-3 col-sm-3">تاریخ اعتبار</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="standarddate" <%if(typeof contract!=='undefined'){%>value="<%=contract.standarddate%>"<%}%>  class="normal-example form-control col-md-7 col-xs-12 single" type="text"
                                        name="standarddate">

                            </div>
                        </div>

                    </div>
                    <div id="step-44">
                        <h2 class="StepTitle">مدت قرارداد</h2>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="contractduration" class="control-label col-md-3 col-sm-3">تاریخ شروع</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="contractduration"  <%if(typeof contract!=='undefined'){%>value="<%=contract.contractduration%>"<%}%> class="normal-example form-control col-md-7 col-xs-12 single" type="text"
                                       name="contractduration">

                            </div>
                        </div>

                        <div class="form-group col-md-6 col-sm-6">
                            <label for="garantyenddate" class="control-label col-md-3 col-sm-3">تاریخ پایان گارانتی</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="garantyenddate" <%if(typeof contract!=='undefined'){%>value="<%=contract.garantyenddate%>"<%}%>  class="normal-example form-control col-md-7 col-xs-12 single" type="text"
                                       name="garantyenddate">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="servicepersal" class="control-label col-md-3 col-sm-3"> تعداد سرویس در سال</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="servicepersal" required class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="servicepersal">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="firstservicedate" class="control-label col-md-3 col-sm-3">تاریخ سرویس اولیه</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="firstservicedate"  <%if(typeof contract!=='undefined'){%>value="<%=contract.firstservicedate%>"<%}%> class="normal-example form-control col-md-7 col-xs-12 single" type="text"
                                       name="firstservicedate">

                            </div>
                        </div>
                    </div>

                    <div id="step-55">
                        <h2 class="StepTitle">شرایط اختصاصی</h2>
                        <div class="form-group">


                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="nirumoghim" class="flat" > نیرو مقیم
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="edaritime" class="flat" > خدمات در ساعات اداری
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="noneedaritime" class="flat" >خدمات در ساعات غیر اداری
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="holidaytime" class="flat" >خدمات در روزهای تعطیل
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="roghanpeimankar" class="flat" >تهیه روغن با پیمانکار
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="controlbeforeservice" class="flat" > هماهنگی اعزام سرویسکار
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-66">
                        <h2 class="StepTitle">بیمه</h2>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="bimestartdate" class="control-label col-md-3 col-sm-3">تاریخ شروع بیمه</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="bimestartdate"  <%if(typeof contract!=='undefined'){%>value="<%=contract.bimestartdate%>"<%}%> class="normal-example form-control col-md-7 col-xs-12 single" type="text"
                                       name="bimestartdate">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="bimeenddate" class="control-label col-md-3 col-sm-3">تاریخ پایان بیمه</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="bimeenddate"  <%if(typeof contract!=='undefined'){%>value="<%=contract.bimeenddate%>"<%}%> class="normal-example form-control col-md-7 col-xs-12 single" type="text"
                                       name="bimeenddate">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="bimecost" class="control-label col-md-3 col-sm-3">هزینه بیمه</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="bimecost"  <%if(typeof contract!=='undefined'){%>value="<%=contract.bimecost%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="bimecost">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="bimecompany" class="control-label col-md-3 col-sm-3">شرکت بیمه گر</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="bimecompany"  <%if(typeof contract!=='undefined'){%>value="<%=contract.bimecompany%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="bimecompany">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="bimenumber" class="control-label col-md-3 col-sm-3">شماره بیمه </label>
                            <div class="col-md-6 col-sm-6">
                                <input id="bimenumber"  <%if(typeof contract!=='undefined'){%>value="<%=contract.bimenumber%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="bimenumber">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">هزینه بیمه
                                <br>
                            </label>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select id="bimepaymethod"  <%if(typeof contract!=='undefined'){%>value="<%=contract.bimepaymethod%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="bimepaymethod">
                                    <option value="karfarma">به عهده کارفرما</option>
                                    <option value="peimankar">به عهده پیمانکار</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div id="step-77">
                        <h2 class="StepTitle">مبلغ قرارداد</h2>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="monthlycost" class="control-label col-md-3 col-sm-3">مبلغ ماهیانه</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="monthlycost"  <%if(typeof contract!=='undefined'){%> value="<%=contract.monthlycost%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="monthlycost">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="totalcost" class="control-label col-md-3 col-sm-3">مبلغ کل</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="totalcost"  <%if(typeof contract!=='undefined'){%> value="<%=contract.totalcost%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="totalcost">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="pishpardakhtkind" class="control-label col-md-3 col-sm-3">شرایط پیش پرداخت</label>
                            <div class="col-md-6 col-sm-6">
                                <select <%if(typeof contract!=='undefined'){%> value="<%=contract.pishpardakhtkind%>"<%}%> id="pishpardakhtkind" class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="pishpardakhtkind">
                                    <option>ماهیانه</option>
                                    <option>سه ماهه</option>
                                    <option>شش ماهه</option>
                                    <option>یکجا</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="mandeavalie" class="control-label col-md-3 col-sm-3">مانده اولیه</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="mandeavalie"  <%if(typeof contract!=='undefined'){%> value="<%=contract.mandeavalie%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="mandeavalie">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="1" class="flat" name="arzeshafzude"
                                              > ارزش افزوده محاسبه شود
                                    </label>
                                </div>

                        </div>

                    </div>
                    <div id="step-88">
                        <h2 class="StepTitle">توضیحات تکمیلی</h2>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="contractmoaref" class="control-label col-md-3 col-sm-3">معرف قرارداد</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="contractmoaref"  <%if(typeof contract!=='undefined'){%>value="<%=contract.contractmoaref%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="text"
                                       name="contractmoaref">

                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="contractpursant" class="control-label col-md-3 col-sm-3">در صد پورسانت</label>
                            <div class="col-md-6 col-sm-6">
                                <input id="contractpursant"  <%if(typeof contract!=='undefined'){%>value="<%=contract.contractpursant%>"<%}%> class="form-control col-md-7 col-xs-12 single" type="number"
                                       name="contractpursant">

                            </div>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 ">
                            <label class="col-md-5 col-sm-5 col-xs-12 control-label">تخصیص تکنسین
                                <br>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="radio">
                                    <label>
                                        <select class=" maliat"  <%if(typeof contract!=='undefined'){%> value="<%=contract.maliat%>"<%}%> name="teknesiankind"  id="teknesiankind" onchange="onmanualteknesian()">
                                            <option value="0">دستی</option>
                                            <option value="1" selected>خودکار</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-8 col-sm-8 ">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label">تکنسین
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select readonly  <%if(typeof contract!=='undefined'){%> value="<%=contract.maliat%>"<%}%> class="js-example-basic-single form-control col-md-7 col-xs-12" id="teknesian" name="teknesian">
                                    <%teknesian.forEach(function (tek){%>
                                    <option value="<%=tek.id%>"><%=tek.lastname%></option>
                                    <%})%>
                                </select>

                            </div>
                        </div>

                    </div>

                </div>
                <!-- End SmartWizard Content -->
        </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


</div>
<% include ./partials/footer%>



<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../js/moment-jalaali.js"></script>
<script src="../js/jalali-moment-browser.js"></script>
<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>


<!-- jQuery Smart Wizard -->
<script src="../vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>

<!-- Custom Theme Scripts -->
<script src="../js/custom.js"></script>
<script src="../js/persianumber.js"></script>
<script src="../js/persian-datepicker.js"></script>
<script src="../js/persian-date.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".normal-example").pDatepicker({
            "inline": false,
            "format": "L",
            "viewMode": "year",
            "initialValue": true,
            "minDate": null,
            "maxDate": null,
            "autoClose": true,
            "position": "auto",
            "altFormat": "|",
            "altField": "#altfieldExample",
            "onlyTimePicker": false,
            "onlySelectOnDate": true,
            "calendarType": "persian",
            "inputDelay": "1200",
            "observer": false,
            "calendar": {
                "persian": {
                    "locale": "fa",
                    "showHint": false,
                    "leapYearMode": "astronomical"
                },
                "gregorian": {
                    "locale": "en",
                    "showHint": false
                }
            },
            "navigator": {
                "enabled": true,
                "scroll": {
                    "enabled": true
                },
                "text": {
                    "btnNextText": "<",
                    "btnPrevText": ">"
                }
            },
            "toolbox": {
                "enabled": true,
                "calendarSwitch": {
                    "enabled": false,
                    "format": "MMMM"
                },
                "todayButton": {
                    "enabled": false,
                    "text": {
                        "fa": "امروز",
                        "en": "Today"
                    }
                },
                "submitButton": {
                    "enabled": true,
                    "text": {
                        "fa": "تایید",
                        "en": "Submit"
                    }
                },
                "text": {
                    "btnToday": "امروز"
                }
            },
            "timePicker": {
                "enabled": false,
                "step": 1,
                "hour": {
                    "enabled": false,
                    "step": null
                },
                "minute": {
                    "enabled": false,
                    "step": null
                },
                "second": {
                    "enabled": false,
                    "step": null
                },
                "meridian": {
                    "enabled": false
                }
            },
            "dayPicker": {
                "enabled": true,
                "titleFormat": "YYYY MMMM"
            },
            "monthPicker": {
                "enabled": true,
                "titleFormat": "YYYY"
            },
            "yearPicker": {
                "enabled": true,
                "titleFormat": "YYYY"
            },
            "responsive": true
        });
    });
</script>
<script src="../vendors/select2/dist/js/select2.full.js"></script>

<link href="../css/select2.min.css" rel="stylesheet">
<script>
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
        $('.js-example-basic').select2({  tags: true});

    });
</script>
<script>
    function onmanualteknesian() {
        if($('#teknesiankind').val()==='0')
        {
            console.log("dasti")
            $('#teknesian').attr('readonly',false);
        }
        else
        {
            console.log("auto")
            $('#teknesian').attr('readonly',true);
        }


    }
</script></body>
</html>

